.shoeImage {
  margin: 10px;
}

.container:hover .zoomIn {
  opacity: 1;
}

.zoomIn {
  opacity: 0;
}

.zoomIn {
  position: absolute;
  top: 35px;
  right: 35px;
  background-color: white;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  width: 900px;
}
