.Card {
  position: relative;
  width: 1440px;
  height: 3348px;
  background: #ffffff;
}

.cartAdd {
  position: absolute;
  width: 376px;
  height: 48px;
  left: 1004px;
  top: 404px;
  background: #ffffff;
  border: 1px solid #dfdfdf;
  box-sizing: border-box;
  border-radius: 28px;
}
